# https://github.com/ghchinoy/forgerock-docker/blob/master/ldifs/Example.ldif
dn: dc={{ opendj_basedn_part2 }}
objectClass: domain
objectClass: top
dc: {{ opendj_basedn_part2 }}

dn: {{ opendj_basedn }}
objectClass: domain
objectClass: top
dc: {{ opendj_basedn_part1 }}

dn: ou=groups,{{ opendj_basedn }}
objectClass: organizationalUnit
objectClass: top
ou: groups

# Create ACI on people container that lets users in admins group administer objects under people
dn: ou=people,{{ opendj_basedn }}
objectClass: organizationalunit
objectClass: top
ou: people
aci: (targetattr="*")(version 3.0; acl "give admins full rights"; allow(all)
  groupdn =  "ldap:///cn=admins,ou=groups,{{ opendj_basedn }}";)

# Create Admin user. Give them privs to reset passwords
# dn: uid=admin,ou=people,{{ opendj_basedn }}
# objectClass: inetorgperson
# objectClass: organizationalperson
# objectClass: person
# objectClass: top
# cn: admin
# sn: admin
# description: Admin User
# employeeNumber: 0
# givenName: admin
# mail: admin@seetoo.tech
# uid: admin
# userPassword: supersecure
# ds-privilege-name: config-read
# ds-privilege-name: password-reset

# Create admins group - put admin user in that group
dn: cn=admins,ou=groups,{{ opendj_basedn }}
objectClass: groupOfNames
objectClass: top
cn: admins
# member: uid=admin,ou=people,{{ opendj_basedn }}
